body {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;

    background-color: #234;
    color: #b0b0b0;
    margin: 0px;
}

h1 {
    background-color: #012;
    padding: 1em;
}

h2 {
    background-color: #081828;
    padding: 1em;
}

h3 {
    background-color: #162636;
    padding: 1em;
}

p {
    margin: 1.5em;
}

.text {
    margin: 1.5em;
}

.centered {
    margin: auto;
    width: 100%;
    text-align: center;
}

.header {
    margin-top: 1em;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: rgb(252, 196, 130);
}

a:hover {
    color: white;
}

img {
    /* center it */
    display: block;
    margin: 0px auto;
}

button:hover {
    cursor: pointer;
}
button.run_game_btn {
    height: auto;
    padding: 0.4em 0.8em;
    white-space: nowrap;
    font-size: 120%;
    display: block;
    margin: .8em auto;
    background-color: #369;
    color: #b0b0b0;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    border-radius: 10px;

    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button.run_game_btn svg {
    margin-right: .5em;
}

a.rungame {
    width: auto;
}
img.rungame {
    filter: brightness(90%);
}
a.rungame:hover img {
    filter: brightness(100%);
}
a.rungame:hover button.run_game_btn {
    background-color: #48b;
    color: #f0f0f0;
    text-decoration: none;
}
