body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

    background-color: #234;
    color: #b0b0b0;
    margin: 0px;
}

h1 {
    background-color: #001;
    padding: 1em;
    padding-top: 2.5em;
}

.page-title {
    padding-top: 1em;
    padding-bottom: .5em;

    /* centered */
    margin: auto;
    width: 100%;
    text-align: center;

    /* h1 */
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    background-color: #0a1a2a;
    padding: 1em;
}

h3 {
    background-color: #162636;
    padding: 1em;
}

p {
    margin: 1.5em;
}

.subtitle {
    font-style: italic;
}

.date {
    margin-left: 35px;
    border: 2px solid #789;
    border-right: 0px;
    padding: 12px;
    font-size: .8em;
    width: 180px;
}

.date.blog_list {
    width: 120px;
}

blockquote {
    border-left: 10px solid #567;
}

strong {
    /* extra bold */
    font-weight: 900;
    /* font-size: 22px; */
    text-shadow: -1px 0px #b0b0b0;

    /* chroma aberration */
    /* color: white; */
    /* text-shadow: -2px 0px #f08080, 2px 0px #80f080; */
}

.text {
    margin: 1.5em;
}

.centered {
    margin: auto;
    width: 100%;
    text-align: center;
}

.header {
    margin-top: 1em;
    margin-bottom: 30px;
}

.headerlinks {
    padding: 0px 20px;
}

.sidenote {
    border-color: #2280aa;
    border-left: .2em solid #448aff;
    border-radius: .1em;
    box-shadow: 0 .2em .5em rgba(0,0,0,.05),0 .025em .05em rgba(0,0,0,.05);
    margin: .5em 3em;
    color: #909090;
}

a {
    text-decoration: none;
    color: rgb(252, 196, 130);
}

a:hover {
    color: white;
}

img {
    /* center it */
    display: block;
    margin: 0px auto;
}

hr {
    margin: 0px 80px;
}

button:hover {
    cursor: pointer;
}
button.run_game_btn {
    height: auto;
    padding: 0.4em 0.8em;
    white-space: nowrap;
    font-size: 120%;
    display: block;
    margin: .8em auto;
    background-color: #369;
    color: #b0b0b0;

    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    border-radius: 10px;

    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button.run_game_btn svg {
    margin-right: .5em;
}

a.rungame {
    width: auto;
}
img.rungame {
    filter: brightness(90%);
}
a.rungame:hover img {
    filter: brightness(100%);
}
a.rungame:hover button.run_game_btn {
    background-color: #48b;
    color: #f0f0f0;
    text-decoration: none;
}

#disqus_thread {
    margin: 0px 10%;
}